<!-- <div class="container">

  <div class="row" style="margin-top: 30px">

    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">view_module</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Single Image Content
            </h4>
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

                
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="imageurl">
                    <th mat-header-cell *matHeaderCellDef> Image URL </th>
                    <td mat-cell *matCellDef="let element"> <a style="color: #179DBA !important" href="{{element.img}}" target="_blank"> {{element.img}}</a></td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                      (click)="selection.toggle(row)">
                  </tr>
                </table>
                </div>
          </div>
          </div>
          </div>
          <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <i class="material-icons">view_module</i>
                </div>
          <div class="card-content">
              <h4 class="card-title">Video Content
             
              </h4>
     
           
            
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource1"  class="mat-elevation-z8">
  
                  
                    <ng-container matColumnDef="select1">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle1() : null"
                                      [checked]="selection1.hasValue() && isAllSelected1()"
                                      [indeterminate]="selection1.hasValue() && !isAllSelected1()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection1.toggle(row) : null"
                                      [checked]="selection1.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="videourl">
                      <th mat-header-cell *matHeaderCellDef> Video URL </th>
                      <td mat-cell *matCellDef="let element"> {{element.videourl}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"
                        (click)="selection1.toggle(row)">
                    </tr>
                  </table>
                  </div>
            </div>
            </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <i class="material-icons">view_module</i>
                  </div>
            <div class="card-content">
                <h4 class="card-title">Multiple Image Content
               
                </h4>
       
             
              
                <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource2"  class="mat-elevation-z8">
    
                    
                      <ng-container matColumnDef="select2">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle2() : null"
                                        [checked]="selection2.hasValue() && isAllSelected2()"
                                        [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection2.toggle(row) : null"
                                        [checked]="selection2.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="imageurl">
                        <th mat-header-cell *matHeaderCellDef> Image URL </th>
                        <td mat-cell *matCellDef="let element"> <a style="color: #179DBA !important" href="{{element.img}}" target="_blank"> {{element.img}}</a></td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"
                          (click)="selection2.toggle(row)">
                      </tr>
                    </table>
                    </div>
              </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">add</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Add Tv Floor Wise
            </h4>

       
              <div class="row">
  

                <div class="col-md-3">
         
                

                  <mat-checkbox value="1" (click)="toggle()">Second Floor</mat-checkbox>
 
                </div>
                <div class="col-md-3">
                  <mat-checkbox value="2" (click)="toggle1()">Third Floor</mat-checkbox>
                </div>
              </div>
              <div class="row" *ngIf="show" >
                  <div class="col-md-12" >
                      <form [formGroup]="form" >
                      <div class="row" >
                         
                          <div class="col-md-3" *ngFor="let order of form.controls.orders.controls; let i = index" >
                              <section formArrayName="orders">
                                  <mat-checkbox   [formControlName]="i">{{orders[i].viewValue}}</mat-checkbox>
                                </section>
                            </div>
                </div>
                <div class="row">
                <div class="col-md-2">
                    <button type="submit"  class="btn btn-lg btn-block btn-info" (click)="submit()"  >SUBMIT</button>
                  </div>
                  </div>
                </form>
                <div class="row">
                    <div class="col-md-12" >
                        <app-imagecard  
                        image="../../../assets/img/SecondFloor.JPG"
                        title="Second Floor Plan"
                     >   
                      </app-imagecard>
                    </div>
                      </div>
                </div>
                </div>
                <div class="row" *ngIf="show1" >
                    <div class="col-md-12" >
                        <form [formGroup]="form1" >
                            <div class="row" >
                               
                                <div class="col-md-3" *ngFor="let order of form1.controls.ordertv.controls; let j = index" >
                                    <section formArrayName="ordertv">
                                        <mat-checkbox   [formControlName]="j">{{ordertv[j].viewValue}}</mat-checkbox>
                                      </section>
                                  </div>
                      </div>
                      <div class="row">
                      <div class="col-md-2">
                          <button type="submit"  class="btn btn-lg btn-block btn-info" (click)="submit1()" >SUBMIT</button>
                        </div>
                        </div>
                      </form>
                
                  <div class="row" >
                      <div class="col-md-12" >
                          <app-imagecard  
                          image="../../../assets/img/ThirdFloor.JPG"
                          title="Third Floor Plan"
                       >   
                        </app-imagecard>
                       
                        </div>
                        </div>
                  </div>
                  </div>
            

          </div>
        </div>
      </div>
  </div>
</div>

 -->
 <div class="container">
    <!-- <app-navbar title="Table List"></app-navbar> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">assignment</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">View Content</h4>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                  </tr>
                </thead>
                <tbody *ngFor="let user of users">
                  <tr >
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td class="text-primary">{{user.mob}}</td>
                    <td><a (click)="deleteUser(user.id)" class="text-danger">Delete</a></td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  